@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727

    --font-primaria: 'Krona One', 'sans-serif';
    --font-secundaria: 'Montserrat', 'sans-serif';
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__about {
    padding: 8.2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: var(--cor-terciaria);
} 

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__link__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    gap: 16px;
    display: flex;
    justify-content: center;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.25em;
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    width: 400px;
    border-radius: 10px;
    letter-spacing: 0.25em;
}

.rodape {
    padding: 23.64px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.experiencias__titulo {
    font-size: 2,25rem;
    font-family: "Krona One", sans-serif;
}

.experiencias {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.estudos__titulo {
    font-size: 2,25rem;
    font-family: "Krona One", sans-serif;
}

.estudos {
    list-style-type: circle;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.curriculo {
    padding: 8.5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: auto;
    }
    
}